<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <form ng-submit="serialize(serData)">
                <div class="form-group">
                    <label for="serializePath">Folder path that should be stored into one file:</label>
                    <input type="text" class="form-control" id="serializePath" ng-model="serData.serializePath" required placeholder="Paste the path to the folder here...">
                </div>
                <div class="form-group">
                    <label for="filePath">Path to the folder in which the file will be saved:</label>
                    <input type="text" class="form-control" id="filePath" ng-model="serData.filePath" required placeholder="Paste the path to the folder here...">
                </div>
                <button class="btn btn-default" ng-disabled="disabled">To serialize</button>
                <button type="button" class="btn btn-default" ng-click="resetSerialize()" ng-disabled="disabled">Reset</button>
                <img class="loading" ng-show="isSerializing" src="/Content/images/gears.gif"/>
            </form>
            <br/>
            <div ng-show="serializeSuccess" class="alert alert-success">
                {{serializeSuccess}}
            </div>
            <h5 ng-show="serializeError" class="file_error">
                {{serializeError}}
            </h5>
        </div>
        <div class="col-lg-6 col-md-6">
            <form ng-submit="deserialize(file, deserData)" name="UploadFile">
                <div>
                    <div class="form-group select-file" type="file" ngf-select ngf-drop-disabled="disable" ng-model="file"
                         name="file" ngf-max-size="1000000MB" accept=".dat" ngf-pattern="'.dat'"
                         ngf-model-invalid="errorFile" ng-required>
                        <div>
                            <div ng-show="!file">
                                <p class="text-center">Click here to select file</p>
                            </div>
                            <span ng-show="file">{{file.name}}</span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="deserializePath">Folder path to deserialize:</label>
                        <input type="text" class="form-control" id="deserializePath" ng-model="deserData.deserializePath" required placeholder="Paste the path to the folder here...">
                    </div>
                    <button class="btn btn-default" ng-disabled="disabled">To deserialize</button>
                    <button type="button" class="btn btn-default" ng-click="resetDeserialize()" ng-disabled="disabled">Reset</button>
                    <img class="loading" ng-show="isDeserializing" src="/Content/images/gears.gif"/>
                </div>
                <br/>
                <div ng-show="success" class="alert alert-success">
                    {{success}}
                </div>
                
                <h5 ng-show="error" class="file_error">
                    {{error}}
                </h5>
                <h5 ng-show="updateError" class="file_error">
                    {{updateError}}
                </h5>
                <h5 class="file_error" ng-show="UploadFile.file.$error.pattern">
                    You can upload only .dat files!
                </h5>
                <h5 class="file_error" ng-show="UploadFile.file.$error.maxSize">
                    {{errorFile.name}} is too large ({{errorFile.size / 1000000|number:1}}mb): <br> max size is 5mb.
                </h5>
            </form>
        </div>
    </div>
</div>